/* h2, */
/* h3, */
/* h4, */
/* h5 { */
/*   font-family: 'Cormorant Garamond', serif; */
/*   font-weight: bold; */
/* } */

/* h2 { */
/*   font-weight: bold; */
/*   padding-bottom: 0; */
/*   margin-bottom: 0; */
/* } */

/* @font-face { */
/*   font-family: 'lane_-_narrowregular'; */
/*   src: url('/fonts/lane/lanenar_-webfont.woff2') format('woff2'), */
/*     url('/fonts/lane/lanenar_-webfont.woff') format('woff'); */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */

p {
  font-family: 'Abhaya Libre', serif;
  font-size: 1.2em;
}

/* .title, */
h2,
h3,
h4 {
  font-family: 'Abhaya Libre';
}

.title {
  font-size: 2em;
  font-family: 'Abhaya Libre';
}

/* h2 { */
/*   /1* font-size: 4.236em; *1/ */
/* } */

/* h3 { */
/*   /1* font-size: 2.618em; *1/ */
/* } */

/* h4 { */
/*   /1* font-size: 1.44em; *1/ */
/* } */

pre {
  padding: 0;
}

:target:before {
  content: '';
  display: block;
  height: 50px;
  margin: -50px 0 0;
}
