pre {
  padding: 0;
}

/* For Future Juan: 
* I don't remember why I put this here */
:target:before {
  content: '';
  display: block;
  height: 50px;
  margin: -50px 0 0;
}

@font-face {
  font-family: 'Inter-ExtraLight';
  src: url('../../fonts/Inter-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-Black';
  src: url('../../fonts/Inter-Black.ttf') format('truetype');
}

html {
  /* overflow: hidden; */
  scroll-behavior: smooth;
  /* background: rgb(255, 242, 226); */
  background: #343032;
  /* background: linear-gradient( */
  /*   90deg, */
  /*   rgba(255, 242, 226, 1) 0%, */
  /*   rgba(249, 253, 226, 0.39957990031950286) 10%, */
  /*   rgba(218, 223, 220, 1) 50%, */
  /*   rgba(249, 253, 226, 0.3967787798713235) 90%, */
  /*   rgba(255, 242, 226, 1) 100% */
  /* ); */
}

body {
  background: #343032;
  /* overflow: auto; */
  /* margin: 0; */
  /* max-height: 100vh; */
  /* color: #ffffff; */
  /* background: rgba(255, 242, 226, 255); */
  /* background: linear-gradient( */
  /*   90deg, */
  /*   rgba(255, 242, 226, 1) 0%, */
  /*   rgba(249, 253, 226, 0.39957990031950286) 10%, */
  /*   rgba(218, 223, 220, 1) 50%, */
  /*   rgba(249, 253, 226, 0.3967787798713235) 90%, */
  /*   rgba(255, 242, 226, 1) 100% */
  /* ); */
}

#contentArea {
  background-color: #413c3f;
  padding-bottom: 1em;
}

div uk-container {
  background: rgba(255, 242, 226, 255);
}

a {
  color: #87fbe9;
}

p {
  font-size: 1.1em;
  color: #e4fefa;
  font-family: 'Inter-ExtraLight', sans-serif;
}

img {
  margin: 0;
}

p img {
  display: block;
  margin: auto;
  width: 100%;
}

ul li {
  font-family: 'Inter-ExtraLight', sans-serif;
}

.title {
  color: #ffffff;
  font-size: 2.8em;
  font-family: 'Inter-Black';
}

#cover-img {
  background-color: black;
  max-height: 500px;
}

.date-created {
  color: #b9b9b9;
  font-family: 'Inter-ExtraLight', sans-serif;
}

h1 {
  color: #ffffff;
  font-family: 'Inter-ExtraLight';
}

h2,
h3,
h4,
h5 {
  color: #dccf8f;
  font-family: 'Inter-ExtraLight';
  /* font-weight: bold; */
}

h5 {
  font-size: 19px;
}

.uk-card {
  border: 1px solid #000000;
}

hr {
  border: 1px solid #f8d1c1;
}

pre {
  border: solid black;
  background-color: #181914;
}

pre code.hljs {
  display: block;
}

code.hljs {
  display: inline;
  background-color: #181914;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.uk-accordion-title {
  background: #ccd3d5;
  padding: 10px;
}

.uk-card-title {
  font-family: 'Inter-ExtraLight';
  font-weight: bold;
  font-size: 2em;
}

.entry {
  cursor: pointer;
  padding: 0;
  margin: 1em;
}

#heading {
  font-size: 1.7em;
}

/**
 * For mobile devices
 */
@media screen and (max-width: 580px) {
  .title {
    font-size: 1.6em;
  }

  #heading {
    font-size: 4.8vw;
  }

  #content-area {
    padding: 3px;
  }

  #cover-img {
    max-height: 260px;
  }

  p {
    font-size: 0.95em;
  }

  h2 {
    font-size: 1.3em;
  }
}
