{
  "trailingComma": "es5",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "singleQuote": false 
}
